QTPointInPoly.pro.user
QTPointInPoly.pro.user.5ca6959
build-QTPointInPoly-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
build-QTPointInPoly-Desktop_Qt_5_7_0_MinGW_32bit-Release/
QTPointInPoly.pro.user.b02a7a3
build-QTPointInPoly-Desktop_Qt_5_6_0_MinGW_32bit-Ladění
build-QTPointInPoly-Desktop_Qt_5_6_0_MinGW_32bit-Vydání

build-CH-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
build-CH-Desktop_Qt_5_7_0_MinGW_32bit-Release/
build-CH-Desktop_Qt_5_6_0_MinGW_32bit-Ladění/
build-CH-Desktop_Qt_5_6_0_MinGW_32bit-Vydání/
CH.pro.user.cf31cfa
CH.pro.user

build-DT-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
build-DT-Desktop_Qt_5_7_0_MinGW_32bit-Release/
build-DT-Desktop_Qt_5_6_0_MinGW_32bit-Ladění/
build-DT-Desktop_Qt_5_6_0_MinGW_32bit-Vydání/
DT.pro.user.c811fc7
DT.pro.user

U2/build-CH-Desktop_Qt_5_6_0_MinGW_32bit-Release/
