QTPointInPoly.pro.user
QTPointInPoly.pro.user.5ca6959
build-QTPointInPoly-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
build-QTPointInPoly-Desktop_Qt_5_7_0_MinGW_32bit-Release/
QTPointInPoly.pro.user.b02a7a3
build-QTPointInPoly-Desktop_Qt_5_6_0_MinGW_32bit-Ladění
build-QTPointInPoly-Desktop_Qt_5_6_0_MinGW_32bit-Vydání
